@page "/admin"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]
@using MMS.Data.Repositories
@using MMS.Models
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager NavigationManager

<PageTitle>MMS - Administratorske kontrole</PageTitle>
<h3>Administratorske kontrole</h3>

<AuthorizeView>
	<RadzenStack>
		<RadzenCard>
			<span>Dobrodošao, <b>@context.User.Identity?.Name</b>, pritisni <a href="/logout">ovdje</a> za odjavu.</span>
		</RadzenCard>
		<RadzenButton Text="Trenutačni zahtjevi" Style="max-width: 300px" Click=@CurrentRequestsButton />
		<RadzenButton Text="Postojeći korisnici" Style="max-width: 300px" Click=@UsersButton />
	</RadzenStack>
</AuthorizeView>

@code {
	private void CurrentRequestsButton()
	{
		NavigationManager.NavigateTo("/admin/requests");
	}

	private void UsersButton()
	{
		NavigationManager.NavigateTo("/admin/users");
	}
}