@page "/"

<PageTitle>MMS</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<AuthorizeView>
					<NotAuthorized>
						<span>Pritisni <a href="/login">ovdje</a> za prijavu.</span>
					</NotAuthorized>
					<Authorized>
						<span>Hej, <b>@context.User.Identity.Name</b>, pritisni <a href="/logout">ovdje</a> za odjavu.</span>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>