@page "/"
@using MMS.Data.Repositories
@using MMS.Models
@using System.Security.Claims
@inject NavigationManager NavigationManager

<PageTitle>MMS</PageTitle>
<h1>MMS</h1>

<RadzenCard Class="rz-background-color-info-lighter">
	<AuthorizeView>
		<NotAuthorized>
			<RadzenText>Pritisni <a href="/login">ovdje</a> za prijavu.</RadzenText>
			<RadzenText>Nemaš račun? Pritisni <a href="/membership-request">ovdje</a> za sastavljanje <span style="font-style: italic;">Zahtjev za članstvom</span>.</RadzenText>
		</NotAuthorized>
		<Authorized>
			<RadzenText>Hej, <b>@context.User.Identity?.Name</b>.</RadzenText>
			<RadzenText><a href="/profile">Profil</a></RadzenText>
			<RadzenText><a href="/logout">Odjava</a></RadzenText>
		</Authorized>
	</AuthorizeView>
</RadzenCard>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var state = await authenticationState;
		if (state != null)
		{
			if (state.User.IsInRole("Admin"))
			{
				NavigationManager.NavigateTo("/admin");
			}
		}
	}
}