@page "/"
@using MMS.Data.Repositories
@using MMS.Models
@using System.Security.Claims
@inject NavigationManager NavigationManager

<PageTitle>MMS</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<AuthorizeView>
					<NotAuthorized>
						<span>Pritisni <a href="/login">ovdje</a> za prijavu.</span>
						<span>Pritisni <a href="/membership-request">ovdje</a> za registraciju.</span>
					</NotAuthorized>
					<Authorized>
						<span>Hej, <b>@context.User.Identity?.Name</b>, pritisni <a href="/logout">ovdje</a> za odjavu.</span>
						<a href="/profile">Profil</a>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var state = await authenticationState;
		if (state != null)
		{
			if (state.User.IsInRole("Admin"))
			{
				NavigationManager.NavigateTo("/admin");
			}
		}
	}
}