@page "/login"
@using MMS.Components.Reusable
@using Radzen
@using MMS.Models.ViewModels
@using System.Security.Claims
@using MMS.Services
@using MMS.Services.Responses
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject NavigationManager NavigationManager
@inject ILoginService LoginService

<PageTitle>MMS - Prijava</PageTitle>

<TopTitle Title="Prijava">
	<RadzenText TextStyle="TextStyle.H6">Na ovoj stranici možete se prijaviti.</RadzenText>
	<RadzenText>Nemate račun? <a href="/membership-request">Pošaljite <span style="font-style: italic;">Zahtjev za članstvom</span>.</a></RadzenText>
	<RadzenCard Variant="Variant.Flat" class="rz-background-color-info-lighter" Style="width: 50%">
		<EditForm Model="@Model" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit" FormName="LoginForm">
			<RadzenStack AlignItems="AlignItems.Center">
				<DataAnnotationsValidator />
				<div class="mb-3" Style="width: 40%">
					<RadzenLabel>Email</RadzenLabel>
					<InputText @bind-Value="Model.Email" class="form-control" placeholder="Email" />
					<ValidationMessage For="() => Model.Email" />
				</div>
				<div class="mb-3" Style="width: 40%">
					<RadzenLabel>Lozinka</RadzenLabel>
					<InputText type="password" @bind-Value="Model.Password" class="form-control" placeholder="Password" />
					<ValidationMessage For="() => Model.Password" />
				</div>
				<div class="mb-3 text-center" Style="width: 40%">
					<span class="text-danger">@error</span>
				</div>
				<RadzenButton type="submit">Prijavi se</RadzenButton>
			</RadzenStack>
		</EditForm>
	</RadzenCard>
</TopTitle>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	[SupplyParameterFromForm]
	public LoginViewModel Model { get; set; } = new();

	private string? error = "";

	private void InvalidSubmit()
	{
		error = "Unesi sva polja.";
	}

	private async Task ValidSubmit()
	{
		LoginServiceResponse response = await LoginService.Login(HttpContext, Model);
		if (response.Flag)
		{
			if (response.Role == "Admin")
			{
				NavigationManager.NavigateTo("/admin");
			} else
			{
				NavigationManager.NavigateTo("/");
			}
		} else
		{
			error = response.Message;
		}
	}
}
