@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager

<h3>Odjava</h3>
<p>Uspješno ste odjavljeni. <a href="/login">Natrag na prijavu.</a></p>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (HttpContext.User.Identity.IsAuthenticated)
		{
			await HttpContext.SignOutAsync();
			NavigationManager.NavigateTo("/logout", true);
		}
	}
}
