@page "/logout"
@using MMS.Services
@using MMS.Services.Responses
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
@inject LoginService LoginService

<PageTitle>MMS - Odjava</PageTitle>
<h3>Odjava</h3>

<RadzenText>Uspješno ste odjavljeni.</RadzenText>
<RadzenText><a href="/">Početna stranica</a></RadzenText>
<RadzenText><a href="/login">Prijava.</a></RadzenText>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		ServiceResponse response = await LoginService.Logout(HttpContext);
		if (response.Flag)
		{
			NavigationManager.NavigateTo("/logout", true);
		}
	}
}
