@page "/logout"
@using MMS.Services
@using MMS.Services.Responses
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
@inject LoginService LoginService

<h3>Odjava</h3>
<p>Uspješno ste odjavljeni. <a href="/login">Natrag na prijavu.</a></p>
<div class="mb-3 text-center">
	<span class="text-danger">@error</span>
</div>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	private string? error = "";

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		ServiceResponse response = await LoginService.Logout(HttpContext);
		if (response.Flag)
		{
			NavigationManager.NavigateTo("/logout", true);
		}
	}
}
