@using Radzen

<RadzenCard Style="margin-top: 30px;">
	@if (BackHref != "")
	{
		<a href=@BackHref style="position: absolute;">
			<img src="assets/back.svg" alt="Natrag" height="50" />
		</a>
	}
	<RadzenStack AlignItems="AlignItems.Center">
		@if (BigTitle)
		{
			<h1 style="font-size: 8em; font-weight: bold;">@Title.ToUpper()</h1>
		} else
		{
			<h1>@Title.ToUpper()</h1>
		}
		<RadzenText TextStyle="TextStyle.H6">@ChildContent</RadzenText>
	</RadzenStack>
</RadzenCard>

@code {
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public bool BigTitle { get; set; } = false;

	[Parameter]
	public string BackHref { get; set; } = "";

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
